.block{
    margin-left: 10%;
    color: gray;
}

.name{
    text-align: right;
    margin-right: 1%;
    margin-left: 89%;
    padding-right: 5px;
    font-size: 30px;
    width: 10%;
}

.honbun{
    color: black;
    font-size: 40px;
    background-color: rgb(239, 212, 161);
    border-radius: 30px;
}

.yourname{
    text-align: left;
    margin-left: 1%;
    margin-right: 89%;
    padding-left: 5px;
    font-size: 30px;
    width: 10%;
}

.yourhonbun{
    color: black;
    font-size: 40px;
    background-color: rgb(239, 241, 241);
    border-radius: 30px;
    margin-right: 20%;
}

#output{
    padding-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    color: rgb(83, 200, 200);
    background-color: rgb(222, 231, 241);
}

